*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col"]{
    text-align: center;
}


/* DEBUG   */

.debug [class*="col"]{
    background-color: lightskyblue;
    padding: 10px 10px;
    border: 2px solid white;
}

.debug .row .nested{
    background-color: greenyellow;
    padding: 10px 0;
    border: 1px solid lightskyblue;
}